

.box-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 310px;
  width: 71%;
  
}


.logo-box{
  
  display: flex;
  justify-content: space-between;
  width: 146px;
  height: 60px;
  left: 968px;
  top: 100px;
}
.line{
  position: absolute;
  width: 70%;
  height: 0px;
  left: 321px;
  top: 130.5px;
  border: 3px solid #000000;
}

.btns{
  display: flex;
  justify-content: space-between;
  
  width: 40%;
  position: absolute;
  height: 37px;
  left: 327px;
  top: 148px;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
}


.box0{

  position: absolute;
  width: 70%;
  height: 157px;
  left: 327px;
  top: 28px;
}



.box1{
  
  background-color: #808080;
  position: absolute;
  width: 70%;
  height: 224px;
  left: 321px;
  top: 204px;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  


  color: #FFFFFF;
}
.box2{
 
  background-color: #808080;
  position: absolute;
  width: 70%;
  height: 593px;
  left: 321.59px;
  top: 447px;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  color: #FFFFFF;
 
}
.box3{
  
  background-color: #808080;
  position: absolute;
  width: 70%;
  height: 238px;
  left: 319px;
  top: 1059px;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  color: #FFFFFF;
}
.box4{
  background-color: #808080;
  position: absolute;
  width: 70%;
  height: 238px;
  left: 319px;
  top: 1059px;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  color: #FFFFFF;
}
.box5{
  
  background-color: #808080;
  position: absolute;
  width: 70%;
  height: 238px;
  left: 323px;
  top: 1316px;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
 
  color: #FFFFFF;
}
.box6{
  position: absolute;
  background-color: #808080;
  width: 70%;
  height: 190px;
  left: 321px;
  top: 1600px;
  background: #000000;
  border-radius: 30px;
}
