<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Process Analyser</title>
  <link rel="stylesheet" href="./static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter;300&display=swap" rel="stylesheet">
</head>
<body>

  <div class="box-header">
    <span class="text-box">
        <h1> <span style="font-weight: lighter; font-family: 'Inter', sans-serif;">ML<i>basedApproachFor</i></span><span style="font-weight: bold; font-family: 'Inter', sans-serif;"><br> ControlCharts</span></h1>
    </span>
    <span class="logo-box">
        <img src="./static/github.png" width="60px"; height="60px"; >
        <img src="./static/presentation.png" width="60px"; height="60px";  >
    </span>
  </div>
 
  <div class="line">

  </div>
  <div class="btns">
      <button class="astext" name="data_upload" type ="submit">Upload</button>
      <button class="astext">Reset</button>
      <button class="astext">Download</button> 
  </div>
  <div class="box1">
     <p>How To Use <br> data </p>
  </div>
  <div class="box2">
    <h1> Charts </h1>
   
  </div>

  <div class="box4">
    <h1> Anomalies Detected</h1>
    <p></p>
  </div>
  <div class="box5">
    <h1>Trend Analysis</h1>
    <p></p>
  </div>
  <div>

  </div>
</body>
</html>